body{
    background: paleturquoise;
    color: gray;
}
h1{
    height: 100px;
    color: black;
    background: forestgreen;
}
h2{
    height:50px;
    color: black;
}
span{
    color: red;
}