body{
    background: paleturquoise;
    color: gray;
}
h1{
    /* height: 100px; */
    text-align: center;
    color: white;
    background: black;
}
h2{
    /* height:50px; */
    text-align: center;
    color: black;
}
h3{
    color: black;
    background: orange;
    /* width: 250px; */
}
span{
    color: red;
}
ul{
    width: 200px;
    position: absolute;
    border-color: Red yellow Blue Green;
    border-style: solid;
    border-width: 2px;
}
div {
    width: 204px;
    position: relative;
    margin: 5px;
    padding: 5px;
}
#d1{
    float:left;
}
#d2{
    float: right;
}
#d3{
    float: left;
}
#d4{
    float: right;
}